# Node dependencies
node_modules

# Build outputs
dist

# macOS system files
.DS_Store

# Local environment variables
.env

# Other ignored files
*.tar.gz
vite.config.ts.*

# Optional: ignore build artifacts or public assets from backend
server/public
